

/* ===============================================
====================ALL BUTTONS=================== 
==================================================*/

button {
  border-radius: 4px;  
}

/* ===============================================
====================HOMEPAGE BUTTONS=================== 
/* ================================================== */


.boredPageButtonOne {
  display: inline-block;
  padding: 45px 80px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #B31273;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2FEEF5;
}

.boredPageButtonOne:hover {background-color: rgb(148, 17, 95)}

.boredPageButtonOne :active {
  background-color: white;
  box-shadow: 0 5px #2FEEF5;
  transform: translateY(4px);
}

.boredPageButtonTwo  {
  display: inline-block;
  padding: 45px 80px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #B31273;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2FEEF5;
}

.boredPageButtonTwo:hover {background-color: rgb(148, 17, 95)}

.boredPageButtonTwo:active {
  background-color: white;
  box-shadow: 0 5px #2FEEF5;
  transform: translateY(4px);
}


 