

/* ===============================================
====================ALL BUTTONS=================== 
==================================================*/

button {
  border-radius: 4px;  
}

/* ===============================================
====================HOMEPAGE BUTTONS=================== 
/* ================================================== */


.boredPageButtonOne {
  background-color: #FF009B; 
  border: none;
  color: #2FEEF5;
  padding: 35px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.boredPageButtonOne {
  box-shadow: 0 16px 26px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boredPageButtonTwo {
  background-color: #FF009B; 
  border: none;
  color: #2FEEF5;
  padding: 35px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.boredPageButtonTwo {
  box-shadow: 0 16px 26px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}