
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
  background-color: #FFEB00;
}


.top-triangle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-left-triangle {
  width: 0%;
  height: 0px;
  border: 115px solid #2FEEF5;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.top-right-triangle {
  width: 0%;
  height: 0px;
  border: 115px solid #2FEEF5;
  border-bottom-color: transparent;
  border-left-color: transparent;
  
} 

.bottom-triangle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-left-triangle {
  width: 0%;
  height: 0px;
  border: 115px solid #2FEEF5;
  border-top-color: transparent;
  border-right-color: transparent;
}

.bottom-right-triangle {
  width: 0%;
  height: 0px;
  border: 115px solid #2FEEF5;
  border-top-color: transparent;
  border-left-color: transparent;
  
} 

h1, h2, h3 {
  text-align: center;
  /* font-family: 'Indie Flower', cursive; */
}


.home-buttons {
  display:flex;
  justify-content: space-evenly;
}

.bored-buttons {
  display:flex;
  justify-content: space-evenly;
}

.jokes-buttons {
  display:flex;
  justify-content: space-evenly;
}

img {
 height:250px;
}

.welcome {
  margin-top: -5px;
  margin-bottom: 40px;
}

.description {
  margin-bottom: 70px;
}
  
 li {
   display: inline;
   padding: 10px 20px;
  }
  
  nav {
    margin-top: -70px;
  }
  
  a {
    text-decoration: none;
    font-size: 16px;
    color: #09A7B3;
 }

 .activity {
margin-top: 50px;

 }

 .footer {
padding-top: 80px;
 }

.jokes-header {
  margin-top: 60px;
  margin-bottom: 55px;
}



.jokes-content {
 margin-bottom: 50px;
}